{% extends "layout.html" %}

{% block body%}
    <form action="/greet" method="post">
        <input type="text" autocapitalize="off" name="name" placeholder="Name">
        <button type="submit">Greet</button>
    </form>

    <hr>

    <form action="/register" method="post">
        <h1>Register</h1>
        <input type="text" placeholder="Name" name="name">
            {% for language in languages %}
                <input name="language" type="checkbox" value="{{ language }}"> {{ language }}
            {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock %}